<div class="banner">
  <div class="movieImg">
    <img class="imgCSS" src="{{ movie.movieImage }}" alt="" />
    <button
      class="buttonCSS"
      (click)="bookTicket()"
      mat-raised-button
      color="accent"
    >
      BOOK
    </button>
  </div>
  <div class="movieDetails">
    <div class="movieName">
      <!-- <h1>Movie </h1> -->
      <h2>{{ movieName }}</h2>
    </div>
    <div class="theatreName">
      <!-- <h1>Theatre  </h1> -->
      <h2>{{ theatreName }}</h2>
    </div>
    <div class="cost">
      <!-- <h1>cost</h1> -->
      <h2>Rs-{{ movie.movieCost }}</h2>
     
    </div>
    <h2>Seat  Status -</h2>
    <div class="seat-info">
     
      <div class=" seat seat-number seatAvailable">Available </div>
      <div class=" seat seat-type seatBooked">Booked</div>
      <div class=" seat seat-type seatSelected">Selected</div>
    </div>
  </div>
</div>

<div class="seat-map">
  <div class="seat-row" *ngFor="let seat of seatsInp">
    <div
      class="seat"
      [class.selected]="seat.isSelected"
      [class.unavailable]="seat.seatStatus === 'Booked'"
      (click)="toggleSeatSelection(seat)"
    >
      <i class="fas fa-chair seat-icon"></i>
      <div class="seat-number">{{ seat.seatNumber }}</div>
      <div class="seat-type">{{ seat.seatType }}</div>
    </div>
  </div>
</div>
