.banner {
  /* height: 60%; */
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-wrap: wrap;

  /* margin-top: 65px; */
}

.movieImg {
  width: 500px;
  height: 500px;
  /* background-color: blue; */
  padding: 50px;
  display: flex;
  align-items: center;
}
.imgCSS {
  width: 67%;
  height: 100%;
  margin: 45px;
  margin-left: 15px;
}
.buttonCSS {
  width: 140px;
  height: 60px;
}
.movieDetails {
  /* width: 50%; */
  height: 80%;
  /* background-color: green; */
  color: white;
  font-weight: bold;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}
.movieName {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  /* background-color: pink; */
}
.theatreName {
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: row;
  /* background-color: aqua; */
}
.seat-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cost {
  width: 30%;
  height: 20%;
  display: flex;
  flex-direction: row;
  /* background-color: greenyellow; */
}
.seat-map {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.seat-row {
  display: flex;
  /* gap: 140px; */
  flex-wrap: wrap;
}

.seat {
  position: relative;
  width: 80px;
  height: 70px;
  background-color: #1abc9c;
  border: 1px solid #ccc;
  /* border-radius: 10%; */
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.seatAvailable{
  background-color: #1abc9c;
}
.seatBooked{
  background-color: #e74c3c;
}
.seatSelected{
  background-color: #2ecc71;
}

.seat.unavailable {
  background-color: #e74c3c;
  cursor: not-allowed;
}

.seat .seat-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.seat .seat-number {
  font-weight: bold;
}

.seat .seat-type {
  font-size: 14px;
}

.seat.selected {
  background-color: #2ecc71;
  color: #fff;
}
