<div class="seat-map">
  <div class="seat-row" *ngFor="let seat of seatsInp">
    <div class="seat" [class.selected]="seat.isSelected" [class.unavailable]="seat.seatStatus === 'Booked'" (click)="toggleSeatSelection(seat)">
       <i class="fas fa-chair seat-icon"></i>
      <span class="seat-number">{{ seat.seatNumber }}</span>
      <span class="seat-type">{{ seat.seatType }}</span>
    </div>
  </div>
</div>

<div class="ticket-info">
  <p>Selected Seats: {{ ticket.numberOfTicket }}</p>
  <p>Total Cost: ${{ ticket.totalCost }}</p>
  <button (click)="bookTicket()" >Book</button>
</div>
