<mat-toolbar class="nav-col">
  <div class="movieIcon">
    <a
      routerLink="/"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>movie</mat-icon>
      <span>Book Show</span>
    </a>
  </div>

  <div class="navbarButtons">
    <!-- <button mat-icon-button *ngIf="login.getCustomer().role!='ADMIN'" [matMenuTriggerFor]="belowMenu">
    <mat-icon class="rounded">person</mat-icon></button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item routerLink="/profile">Profile</button>
    <button mat-menu-item *ngIf="login.getCustomer().role=='ADMIN'"   routerLink="/addMovie">Add a Movie</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu> -->
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item   *ngIf="!login.isLoggedIn()"
      [routerLink]="'/signup'">
       
          Register
         
      </button>
      <button mat-menu-item [routerLink]="'/admin/addMovie'"
      *ngIf="login.isLoggedIn()">
        
            
      
            Add Movie
          
      </button>
      <button mat-menu-item [routerLink]="'/admin/profile'"
      *ngIf="login.isLoggedIn()">
        
            
            
          
            {{ login.getCustomer().userName }}
          
      </button>
      <button mat-menu-item  *ngIf="!login.isLoggedIn()"
      [routerLink]="'/login'"
      >
        
           
          
            Login
          
      </button>
      <button mat-menu-item (click)="logout()"
      *ngIf="login.isLoggedIn()" [routerLink]="'/admin'">
        
            Home Page
         
      </button>
      <button mat-menu-item 
      *ngIf="login.isLoggedIn()">
        
            Logout
         
      </button>
      <!-- <button mat-menu-item>
        <span></span>
      </button> -->
    </mat-menu>
  </div>
</mat-toolbar>
