<div class="banner">
  <app-carousel></app-carousel>
</div>

<div class="bootstrap-wrapper parent">
 
  <div class="container1">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-6 offset-md-3 inputContainer">
       
        
          <input 
            matInput
            type="text"
            name="search"
            id="search"
            #searchKey
            (keyup)="searchMovies(searchKey.value)"
            placeholder="Search for Movies"
          />
          <span class="searchIcon ">
            
            <mat-icon>search</mat-icon>

            </span>
        
      
      </div>
    </div>
    <!-- Movie list -->
    <div class="movieView">
      <div class="movieCard"   *ngFor="let m of movieList">
        <div class="movieHeader">
          <div class="movieTitle">
            {{ m.compositeId.movieName }}
          </div>
          <div class="movieSubTitle">
            {{ m.compositeId.theatreName }}
          </div>
          
        </div>
        
        <div class="movieBanner">
          <img src="{{ m.movieImage }}" />
        </div>
        <br>
        <div  *ngIf="isAdmin()" class="movieTicket">
          <h3 class="mr20">Total No. of Tickets - {{m.totalNoOfTickets}}</h3>
          <h3 class="mr20">Tickets Sold - {{ m.noOfTicketsSold}}</h3>
          
        </div>
        <div class="movieFooter">
          <button (click)="getMovie(m.compositeId.movieName,m.compositeId.theatreName)"class="styleButton"
            mat-raised-button
            color="primary"
            *ngIf="m.ticketStatus == 'BOOK ASAP'"
            mat-button
          >
            {{ m.ticketStatus }}
          </button>
          <button
            mat-raised-button
            *ngIf="m.ticketStatus == 'SOLD OUT'"
            mat-button
            color="warn"
          >
            {{ m.ticketStatus }}
          </button>
          <button  *ngIf="isAdmin()" styleButton
          mat-raised-button
            (click)="deleteMovie(m.compositeId.movieName, m.movieId)"
            aria-label="Example icon button with a delete icon"
            color="warn"

          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!-- <mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [disabled]="disabled"
               [showFirstLastButtons]="showFirstLastButtons"
               [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
               [hidePageSize]="hidePageSize"
               [pageIndex]="pageIndex"
               aria-label="Select page">
              
</mat-paginator> -->
  </div>
</div>
