.parent{
  display: flex;
  justify-content: center;
 
}
.container1{
  /* background: white; */
  width: 92%;

}
.banner{
  height: 400px;
  width: 100%;
  
  /* margin-top: 65px; */
}
.movieView{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
}
.inputContainer{
  display: flex;
  height: 50px;
  width: 100%;
  background: white;
  border-radius: 50px;
  border:2px;
  border-image-source: linear-gradient(116.58deg, #FF53C0 24.28%, rgba(255, 83, 192, 0) 52.53%);
  margin-bottom: 16px;
  align-items: center;
  justify-content: space-between;
}
.searchIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  height:40px;
  border-radius: 100%;
  color: white;
  background-color: #FF53C0;
  width:40px;
}
#search{
width: 90%;
height: 70%;
border:none;
margin: 0px;


}


.disabled-button {
  pointer-events: none;
  opacity: 0.6; /* Optional: adjust the opacity to visually indicate the disabled state */
  /* Add any other desired styles */
}
input:focus{
  outline: none;
}
.movieCard{
  height:450px;
  width: 300px;
  /* background-color: red; */
  background:  linear-gradient(115.29deg, #B6116B 15.07%, #3B1578 104.4%);
  padding:16px;
  margin: 16px 8px;
 
  border: 1px solid black;
  color:white;
  border-radius: 30px;
}
.movieHeader{
  height:18%;
  /* background-color: green; */
}
.movieTicket{
  height:8%;
  color: black;
  font-weight: 500;
}
.movieTitle{
  font-size: 22px;
  line-height: 25px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  /* background-color:blue; */
}
.movieSubTitle{
  font-size: 14px;
  /* background-color: yellow; */
  margin-top: 8px;
  
}
.movieBanner{
  height: 62%;
  width: 100%;
  margin-top: auto;

}
.movieBanner img{
   height: 100%;
   width:  100%;
}
.movieFooter{
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.movieCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Customize the box shadow as desired */
  transition: box-shadow 0.3s; /* Smooth transition when applying the box shadow */
  transform: scale(1.1);
}
.demo-paginator {
  width: 600px;
}