
  <mat-form-field appearance="outline" class="searchbar w-50">

     <mat-label class="searchField">Search for Movies</mat-label>
    
     <input matInput type="text" name="search" id="search"
    
     #searchKey (keyup)="searchMovies(searchKey.value)"
    
    placeholder="Search for Movies"><mat-icon matSuffix>search</mat-icon>
    
    </mat-form-field>
<mat-grid-list   cols="4" rowHeight="2:3" gutterSize="5">

    <mat-grid-tile *ngFor="let m of movieList">
    
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{m.compositeId.movieName}}</mat-card-title>
              <mat-card-subtitle>{{m.compositeId.theatreName}} </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src={{m.movieImage}} alt="Photo of a Shiba Inu">
            
            <mat-card-actions>
              <button  class="green-button" *ngIf="m.ticketStatus=='BOOK ASAP'" mat-button >{{m.ticketStatus}}</button>
              <button *ngIf="m.ticketStatus=='SOLD OUT'" mat-button color="warn">{{m.ticketStatus}}</button>
            </mat-card-actions>
          </mat-card>
          
    
    </mat-grid-tile>
</mat-grid-list>
    