<div class="profile">
  <mat-card *ngIf="user">
    <mat-card-content>
      <div class="bootstrap-wrapper">
        <div class="container">
          <div class="container1 text-center">
            <h1 class="userName">
              Hi,{{ user.firstName }} {{ user.lastName }}
            </h1>
          </div>
          <img src="{{ profilePic }}" alt="" class="profile-image" />
          <div class="userDetails">
            <h1>Profile Details</h1>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <!-- //table Details  -->
              <table class="table text-center">
                <tr>
                  <td>Username</td>
                  <td>{{ user.userName }}</td>
                </tr>
                <tr>
                  <td>Userid</td>
                  <td>{{ user.loginId }}</td>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>{{ user.contactNumber }}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{ user.email }}</td>
                </tr>
                <tr>
                  <td>Role</td>
                  <td>{{ user.role }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
      <button
        *ngIf="isAdmin()"
        mat-raised-button
        color="primary"
        routerLink="/admin/password"
      >
        UPDATE PASSWORD
      </button>
      <button
        *ngIf="isUser()"
        mat-raised-button
        color="primary"
        routerLink="/customer/password"
      >
        UPDATE PASSWORD
      </button>
      <button  *ngIf="isAdmin()" class="ml20" mat-raised-button color="accent" routerLink="/admin">
        HOME PAGE
      </button>
      <button *ngIf="isUser()" class="ml20" mat-raised-button color="accent" routerLink="/customer">
        HOME PAGE
      </button>
    </mat-card-actions>
  </mat-card>
</div>
