.full-width{
    width:100%;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:50px;
}
.mat-card{
    height:100%;
}
.container{
    padding:15px;
    padding-bottom: 0px;
}