<mat-card>
    <mat-action-list>
      <div mat-subheader>Menu</div>
      <button routerLink="/admin" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>  Admin Home
      </button>
      <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon> Profile
      </button>
      <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon>add_circle</mat-icon> Add Movie
      </button>
      <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon>logout</mat-icon> Logout
      </button>
    </mat-action-list>
  </mat-card>
  