<div class="container1">
  <div class="card">
    <div class="header">
      <div class="movieName">{{ ticket.movieName }}</div>
      <div class="theatreName">{{ ticket.theatreName }}</div>
    </div>
    <div class="content">
      <div>
        <h3>CustomerId-{{ ticket.customerId }}</h3>
      </div>
      <img class="barcodeImg" src="..\..\..\assets\seats.png" alt="" />
      <div class="seatValue">
        No Of Tickets Booked -{{ ticket.seats.length }}
      </div>
      <div class="footer mr20 text">
        <div class="money">INR -{{ ticket.totaCost }}</div>
        <div class="extra">
          <button mat-raised-button (click)="homePage()" color="accent">
            HOME
          </button>
          <button (click)="printPage()" mat-raised-button color="primary">
            SAVE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
